.fotosTextoPrincipal img{
    width: 300px;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body{
    background-color: rgb(210, 250, 210);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    
}

/*------------------------------Header - Menú------------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(148, 231, 148, 0.774);
    box-shadow: 0 15px 20px -22px black;  
    z-index: 10;
}

.header-content{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logoI{
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 0;
}

.logoI h1 b{
    color: rgb(8, 88, 12);
}


.menu{
    height: 80px;   
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;    
    list-style: none;
    margin-top: 10px;
}

.menu nav ul li{
    height: 100%;
    display: flex;
    margin: -5px auto;
    align-items: center;
    position: relative;
    transition: all 100ms;
    cursor: pointer;
    width: 300px;
}

.menu-title{
    color: rgb(36, 53, 4);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(194, 194, 194, 0.5);
}
/*
.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: rgb(8, 88, 12);
    position: absolute;
    top: 0;
    left: 0;
}
*/
.menu nav ul li a{
    color: rgb(1, 92, 39);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(194, 194, 194, 0.5);
    transition: color 300ms;

}

.menu nav ul li a{
    font-size: 15px;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(139, 139, 139, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;  
    transition: all 300ms;   

}

.menu nav ul li a:hover{
    transform: scale(1.03);
    filter: brightness(1.5);
}

.menu-manual{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 120px
}

#_menu{
    margin: auto 20px;
    transition: all 500ms;
}

#_menu i{
    width: 50px;
    height: 50px;
    font-size: 22px;
    background: rgb(227, 255, 227);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.712);
    cursor: pointer;
    transition: all 500ms;
    filter: brightness(1);
}

#_menu:hover{
    filter: brightness(1.4);
}

#_back{
    cursor: pointer;
}

#_back i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 255, 227);
    color: rgba(0, 0, 0, 0.712);
    font-size: 25px;
    border-radius: 50%;
}

#_back:hover{
    filter: brightness(1.4);
}




    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: rgba(148, 231, 148, 0.877);
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
        transform: translateX(-350px);
        transition: all 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: center;
    }

    .menu nav ul li:hover{
        background-color: rgba(145, 255, 0, 0);
        border-top: 0;
    }

    ._menu-select{
        filter: brightness(1.4);
        transform: rotate(180deg) scale(1.2);
    }

    #_menu{
        display: flex;
    }
    


/*------------------------------Portada------------------------------*/

.container-cover{
    width: 100%;
    height: 600px;
    margin-top: 80px; 
    background-image: url(../Images/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-info-cover-manual{
    max-width: 1100px;
    height: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-info-cover-manual h1{
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: -4px 0 0 #000, 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000; /* Simula el trazo exterior */
}

.container-info-cover-manual p{
    color: rgb(255, 255, 255);  
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);;
    font-size: 22px;
    max-width: 900px;
    margin: 0 auto;

}

@media (max-width: 415px){
    .container-info-cover-manual h1{
        font-size: 32px;
    }

    .container-info-cover-manual p{
        font-size: 18px;
    }
}


/*-----------------------------------Contenido-----------------------------------*/
/*------------------------------Inicio------------------------------*/



.all{
    -webkit-box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    -moz-box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    z-index: 0;
    width: 1300px;
    margin: 0 auto;
    background-color: rgb(197, 247, 197);
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}


.all:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: rgb(148, 231, 148);;
    bottom: 0;
    left: 0;
}


@media (max-width: 1300px){
    .all{
        width: 100%;
    }
}

@media (max-width: 480px){
    .all{
        width: 100%;
        margin: 20px auto;
    }
}


/*------------------Contenido----------------------*/



/*----------------------Footer----------------------*/

footer{
    background-color: rgba(148, 231, 148, 0.774);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    z-index: 700;
    flex-shrink: 1; 
}

.container-footer{
    width: 100%;
}

.footer-redes{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    color: #413e3e;
    flex-shrink: 1;
}

.footer-redes i{
    max-width: 100%;
}

.footer-redes-linea1{
    position: relative;
    height: 100%;
    width: 100%;
}

.footer-redes-linea2{
    position: relative;
    height: 100%;
    width: 100%;
}

.footer-redes-linea1:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: rgb(125, 187, 125);
    left: 0;
    bottom: 0;
    border-radius: 20px;
}

.footer-redes-linea2:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: rgb(125, 187, 125);
    right: 0;
    bottom: 0;
    border-radius: 20px;
}

.logoF{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    white-space: nowrap;
}

.logoF h1 b{
    color: rgb(8, 88, 12);
    
}

.footer-direccion{
    margin-bottom: 7px;
    white-space: nowrap;
    min-width: 0;
    flex-shrink: 1;
}


.footer-direccion h1{
    font-size: 21px;
}

.footer-copy p{
    font-size: 15px;
    white-space: nowrap;
}

@media (max-width: 420px){
    .logoF{
        font-size: calc(10px + 2vw);
        height: 100%;
    }

    .footer-copy p{
        font-size: calc(8px + 0.5vw);
    }

    .footer-direccion h1{
        font-size: calc(8px + 0.5vw);
    }


}

@media (max-width: 250px){

}


/*----------------------Boton de ir arriba----------------------*/

#button-up{
    width: 60px;
    height: 60px;
    background-color: rgb(7, 128, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;  
    transition: all 200ms ease;  
    transform: scale(0);
    z-index: 900;
}

#button-up:hover{
    transform: scale(1.1);
    border-color: #57ff89a9;
    filter: brightness(1.2);
}

@media (max-width: 800px){
    #button-up{
        right: calc(50% - 30px);
        margin: 0 auto;
    }
}
