.fotosTextoPrincipal img{
    width: 300px;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body{
    background-color: rgb(210, 250, 210);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    
}

/*------------------------------Header - Menú------------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(148, 231, 148, 0.774);
    box-shadow: 0 15px 20px -22px black;  
    z-index: 10;
}

.header-content{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logoI{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoI h1 b{
    color: rgb(8, 88, 12);
}


.menu{
    height: 80px;   
    
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;    
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    display: flex;
    margin: 0 10px;
    align-items: center;
    position: relative;
    transition: all 100ms;
}
/*
.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: rgb(8, 88, 12);
    position: absolute;
    top: 0;
    left: 0;
}
*/
.menu nav ul li a{
    color: rgb(2, 63, 27);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(194, 194, 194, 0.5);
    transition: color 300ms;
    
}

.menu nav ul li:hover{
    background-color: rgba(145, 255, 0, 0.137);
    border-top: 4px solid green;
}

.menu nav ul li a:hover{
    color: rgb(145, 41, 41);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(139, 139, 139, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;    
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 22px;
    background: rgb(227, 255, 227);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.712);
    cursor: pointer;
    transition: all 500ms;
    display: none;
    filter: brightness(1);
}

#icon-menu:hover{
    filter: brightness(1.4);
}

@media (max-width: 1200px) {
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: rgba(148, 231, 148, 0.877);
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
        transform: translateX(-350px);
        transition: all 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: center;
    }

    .menu nav ul li:hover{
        background-color: rgba(145, 255, 0, 0);
        border-top: 0;
    }

    .icon-menu-select{
        filter: brightness(1.4);
        transform: rotate(180deg) scale(1.2);
    }

    #icon-menu{
        display: flex;
    }
    
}

/*------------------------------Portada------------------------------*/

.container-cover{
    width: 100%;
    height: 600px;
    margin-top: 80px; 
    background-image: url(../Images/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container-info-cover{
    max-width: 1100px;
    height: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-info-cover h1{
    margin-bottom: 10px;
    font-size: 60px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: -4px 0 0 #000, 4px 0 0 #000, 0 -4px 0 #000, 0 4px 0 #000; /* Simula el trazo exterior */
}

.container-info-cover p{
    color: rgb(255, 255, 255);  
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);;
    font-size: 22px;
    max-width: 900px;
    margin: 0 auto;

}

.container-info-cover p1{
    margin-bottom: 7px;
}

/*-----------------------------------Contenido-----------------------------------*/
/*------------------------------Inicio------------------------------*/

.all{
    -webkit-box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    -moz-box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    box-shadow: 0px 10px 30px -8px rgba(17,112,12,0.62);
    z-index: -1;
    width: 1300px;
    margin: 0 auto;
    background-color: rgb(197, 247, 197);
}

@media (max-width: 1300px){
    .all{
        width: 100%;
    }
}

@media (max-width: 480px){
    .all{
        width: 100%;
        margin: 0 auto;
    }
}

.container-content{
    max-width: 1300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin-top: 15px;  
}

#article-inicio{
    width: 100%;
    padding-bottom: 20px;  
    position: relative;
    padding-top: 15px;
    border-radius: 12px;
    overflow: hidden;

}

#article-inicio:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: rgb(148, 231, 148);
    top: 0;
    left: 0;
}

#article-inicio h1{
    font-size: 60px;
    margin-bottom: 6px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(37, 37, 37);
    text-shadow: -2px 0 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, 0 2px 0 white; /* Simula el trazo exterior */

}

#article-inicio p{
    font-size: 18px;
    color: #413e3e; 
    line-height: 1.5;
    margin-bottom: 20px;
}

.container-imgs-inicio{
    display: flex;
    margin: auto;
    max-width: 1300px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 8px;
}
.container-imgs-inicio img{
    max-height: 325px;
    border: 2px solid rgb(148, 231, 148);
      
}

.imagen-1-inicio{
    width: 325px;
    height: 325px; 
    box-sizing: border-box;
}

.imagen-3-inicio{
    width: 325px;
    height: 325px;
    box-sizing: border-box;
}

.imagen-2-inicio{
    max-height: 600px;       
}

@media (max-width: 600px){
    .container-imgs-inicio{
        padding: 0 20px;
    }
    
    .imagen-2-inicio{
        width: 100%;        
    }    
}

@media (max-width: 375px){
    .imagen-3-inicio{
        width: 100%; 
        box-sizing: border-box;       
    }    

    .imagen-1-inicio{
        width: 100%        
    }    
}



#article-inicio p{
    margin: 0 10px;
}
/*------------------------------Ubicación------------------------------*/


#container-ubicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 15px;
    
}

#container-ubicacion:before{
    content: '';
    width: 80%;
    height: 6px;
    position: absolute;
    background: rgba(172, 243, 172, 0.733);
    inset: 0;
    margin: 0 auto;
    border-radius: 20px;
}

.ubicacion-text{
    padding: 0 40px;
}

#container-ubicacion h1{
    margin: 0 calc(50% - var(--anchoTexto)/2);
    font-size: 60px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(37, 37, 37);
    text-shadow: -2px 0 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, 0 2px 0 white; /* Simula el trazo exterior */
}

.ubicacion-text p{
    font-size: 22px;
    color: #413e3e;  
    line-height: 1.5; 
    max-width: 400px;
    text-align: justify;

}

#container-ubicacion-map{
    height: 350px;
    width: 60%;
    margin-top: 0;
    margin-right: 30px;
    border: 5px solid rgba(36, 214, 36, 0.774);
    margin-bottom: 30px;
    z-index: 2;
}

.ubicacion-text img{
    max-width: 350px;
    margin: 0 calc(50% - 175px);
    margin-top: 35px;
}

@media (max-width: 1300px) {
    #container-ubicacion{
        width: 100%; /* Ajusta el ancho al 100% en pantallas más pequeñas */
        align-items: center;
        display: inline-block;
        justify-content: center;
        display: flex;

        
    }
    #container-ubicacion-map {
        width: 100%; /* Ajusta el ancho al 100% en pantallas más pequeñas */
        margin-right: 0;
        margin: 10px 20px;
    }
    .ubicacion-text p{
        max-width: 100%;       
    }
    .ubicacion-text{
        margin: auto 10px; 
        padding: 0 10px;
    }
    #container-ubicacion h1{
        margin: 0 calc(50% - var(--anchoTexto)/2);
    }    

}

/*------------------------------Contacto------------------------------*/

#titulo-contacto{
    margin: 0 auto;
    inset: 0;
    position: relative;
    max-width: 1300px;
    overflow: hidden;
    border-radius: 15px;
    padding-top: 15px;
    
}
#titulo-contacto h1{
    font-size: 60px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(37, 37, 37);
    text-shadow: -2px 0 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, 0 2px 0 white; /* Simula el trazo exterior */
}
#container-contacto{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}

#titulo-contacto:before{
    content: '';
    width: 80%;
    height: 6px;
    position: absolute;
    background: rgba(172, 243, 172, 0.733);
    inset: 0;
    margin: 0 auto;
    border-radius: 20px;
}

.contacto-contenido{
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    max-height: 480px;
    margin-bottom: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    
}

#container-contacto p{
    font-size: 22px;
    color: #413e3e;  
    line-height: 1.5; 
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
    text-align: left;
}

.img-contacto{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: flex-end;
    margin-top: 95px;
    padding-right: 40px;
    
}

.logo{
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease-in-out;
    
}

.logo:hover{
    transform: scale(1.1) rotateY(360deg);
}

.arrow-img{
    width: 300px;
    height: 300px;
    margin-top: -130px;
}

#container-contacto video{
    border: 5px solid rgba(36, 214, 36, 0.774);  
    height: 480px;
    width: 480px;
    box-sizing: border-box;
  }
  
  .video-contacto{
      padding-left: 20px;
      width: 480px;
      height: 480px;
      position: relative;
  }
  
@media (max-width: 1300px){
    .arrow-img{
        display: none;
    }

    #container-contacto{
        flex-direction: column;
        align-items: center;
    }

    #container-contacto p{
        margin: 0;
        text-align: justify;
        width: 100%;
    }

    .contacto-contenido{
        width: 100%;
        margin-top: 10px;
    }

    .img-contacto{
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        gap: 10px;
        padding: 0;
    } 

    .video-contacto{
        padding: 0;
    }

}

@media (max-width: 480px){
    #container-contacto video{
        width: 100%;
        border: 2px solid rgba(36, 214, 36, 0.774);
        box-sizing: border-box;
        height:auto;
        
    }

    .video-contacto{
        width: 100%;
        height: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }



}

/*------------------------------Galeria------------------------------*/
#titulo-galeria{
    margin: 0 auto;
    position: relative;
    max-width: 1300px;
    overflow: hidden;
    border-radius: 15px;
    padding-top: 10px;
}

#titulo-galeria h1{
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: rgb(37, 37, 37);
    text-shadow: -2px 0 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, 0 2px 0 white; /* Simula el trazo exterior */  
}

#titulo-galeria:before{
    content: '';
    width: 80%;
    height: 6px;
    position: absolute;
    background: rgba(172, 243, 172, 0.733);
    inset: 0;
    margin: 0 auto;
    border-radius: 20px;
}


.container-galeria{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 20px;
}

.container-galeria img{
    width: 400px;
    border: 2px solid rgba(36, 214, 36, 0.774);
    box-sizing: border-box;
    flex: auto;
    transition: transform 0.2s ease-in-out;
}

.container-galeria img:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
    filter: contrast(2);
    
}

@media (max-width: 1300px){
    .container-galeria img{
        width: 350px;
        height: auto;
        border: 2px solid rgba(36, 214, 36, 0.774);
        box-sizing: border-box;
    }
}

@media (max-width: 1130px){
    .container-galeria img{
        width: 300px;
        height: auto;
        border: 2px solid rgba(36, 214, 36, 0.774);
        box-sizing: border-box;
    }
}

@media (max-width: 950px){
    .container-galeria img{
        width: 150px;
        height: auto;
        border: 2px solid rgba(36, 214, 36, 0.774);
        box-sizing: border-box;
    }
}

/*----------------------Boton de ir arriba----------------------*/

#button-up{
    width: 60px;
    height: 60px;
    background-color: rgb(7, 128, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;  
    transition: all 200ms ease;  
    transform: scale(0);
    z-index: 900;
}

#button-up:hover{
    transform: scale(1.1);
    border-color: #57ff89a9;
    filter: brightness(1.2);
}

@media (max-width: 800px){
    #button-up{
        right: calc(50% - 30px);
        margin: 0 auto;
    }
}

/*DISEÑO MANUAL*/




